version: 2

updates:
  - package-ecosystem: bun
    directory: /
    schedule:
      interval: weekly
    commit-message:
      prefix: "chore(dependencies)"
    groups:
      production:
        dependency-type: production
      development:
        dependency-type: development

